setuptools
bitsandbytes
bitsandbytes-cuda116
torch  --find-links https://download.pytorch.org/whl/cu126
torchvision --find-links https://download.pytorch.org/whl/cu126
torchaudio --find-links https://download.pytorch.org/whl/cu126
transformers
accelerate
huggingface_hub
numpy
pandas
Flask
flask-cors
protobuf
tokenizers
sentencepiece
loadtime
hf_xet # For better performance when loading models
